<div class="row">
    <div class="offset-sm-4 col-sm-4">
        <div class="card text-blank">
            <div class="card-body">
                <div class="card-title text-center">
                    <h5>Login</h5>

                </div>
                <div class="card-text">
                 <form>                    
                        <div class="form-group">
                            <button class="btn btn-block btn-primary round">User</button>

                    </div>
                    
                    <div class="form-group">
                        <button  class="btn btn-block btn-success round" >Medical</button>

                    </div>
                    
                    <div class="text-center">
                        <button class="btn btn-block btn-warning round">Hospital</button>
                    </div>
                </form>

                </div>
            </div>
        </div>
        
    </div>
</div>
